# Data Science Tools and Ecosystem

In this notebook, Data Science Tool and Ecosystem are summarized

**Objectives:**
- List popular languages for Data Science
- commonly used libraries used by Data scientists
-  Data Science Tools (by using create table method)
- examples of evaluating arithmetic expressins

Some of the popular languages that Data Scientists use are:
1. python
2. R programming language
3. SQL
4. Java
5. Julia
6. C++
7. Scala
8. visual basic for application

Some of the commonly used libraries used by Data scientists include:
1. caret
2. ggplot
3. plotly
4. pandas
5. numpy
6. seaborn
7. matplotlib
8. scikit-learn

| Data Science Tools|
| ----------------- |
| python | 
| SQL | 
| R | 
| Java | 
| scala |

### Below are few examples of evaluating arithmetic expressins in python.

 This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4+5)

17

 This will convert 200 minutes to hours by diving by 60

In [4]:
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author
Monesh Raja